* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:gray;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.key {
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 7px;
}
.colors {
    width: 48%;
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}
.colors.colors-show {
    opacity: 1;
}
.color {
    width: 130px;
    height: 130px;
    margin: 0 5px;
    border-radius: 5px;
}
.color.color-active {
    border: 5px solid #fff;
}
.blue {
    background-color: skyblue;
}
.green {
    background-color:green;
}
.orange {
    background-color: orange;
}
.red {
    background-color: orangered;
}
.purple {
    background-color: blueviolet;
}

@media (max-width:768px) {
    .key {
        width: 75%;
    }
    .colors {
        width: 80%;
        height: 15vh;
    }
    .color {
        width: 75%;
        height: 10vh;
    }
}